<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MongoDB Demo Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap/bootstrap-grid.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>

    <script th:src="@{/js/jquery/code.jquery.com_jquery-3.7.0.min.js}"></script>

    <link th:href="@{/css/mmogo.css}" rel="stylesheet"/>
    <script th:src="@{/js/mmogo.js}"></script>
</head>
<body>

    <h1 >MongoDB Demo Portal</h1>
        <div class="">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected value="" >查詢欄位</option>
                <option value="firstName">firstName</option>
                <option value="lastName">lastName</option>
                <option value="job">job</option>
                <option value="salary">salary</option>
                <option value="internship">internship</option>
                <option value="regularDate">regularDate</option>
            </select>
            <button class="btn btn-outline-secondary"  type="button" id="button1">查詢</button>
            <button class="btn btn-secondary" onclick="toAddEmployeePage()" type="button" id="button0">新增</button>
        </div>

        <div class="">
            <span class="input-group-text" id="basic-addon1">查詢內容</span>
            <input type="text" class="form-control" name="content"   placeholder="支援模糊查詢"
                   aria-label="content" aria-describedby="basic-addon1">
            <br>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th class="p-3 mb-2 bg-light text-dark" scope="col">id</th>
                <th class="p-3 mb-2 bg-light text-dark" scope="col">firstName</th>
                <th class="p-3 mb-2 bg-light text-dark" scope="col">lastName</th>
                <th class="p-3 mb-2 bg-light text-dark" scope="col">job</th>
                <th class="p-3 mb-2 bg-light text-dark" scope="col">salary</th>
                <th class="p-3 mb-2 bg-light text-dark" scope="col">internship</th>
                <th class="p-3 mb-2 bg-light text-dark" scope="col">regularDate</th>
                <th class="p-3 mb-2 bg-light text-dark" scope="col" colspan="2">operate</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                    <button class="btn btn-outline-secondary" type="button" >修改</button>
                </td>
                <td>
                    <button class="btn btn-dark" type="button" >刪除</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>
                    <button class="btn btn-outline-secondary" type="button" >修改</button>
                </td>
                <td>
                    <button class="btn btn-dark" type="button" >刪除</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>SBD</td>
                <td>BenchPress</td>
                <td>@twitter</td>
                <td>SBD</td>
                <td>BenchPress</td>
                <td>@twitter</td>
                <td>
                    <button class="btn btn-outline-secondary" type="button" >修改</button>
                </td>
                <td>
                    <button class="btn btn-dark" type="button" >刪除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <br>

</body>
</html>